.container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.centerTexts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5.7rem;
}

.text {
  width: 45rem;
  font-weight: 500;
}
